<!-- {% extends "base.html"%}

{% block konten%}

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" id="myButton" href="#" role="button">Learn more</a>
    </p>
  </div>

  <h1>Selamat Datang di Website Kami</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae harum totam et eligendi atque odit suscipit explicabo, voluptate sit corrupti veniam tenetur, hic quam deserunt accusamus, impedit repellendus. Amet!</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" id="tombol" href="#" role="button">Mulai</a>
  </p>
  
  
{% endblock%}

<script>
  var socket = io.connect('http://' + document.domain+':'+location.port);

  document.getElementById('myButton').addEventListener('click', function(){
    socket.emit('button_start_tes');
  })
</script> -->


<!DOCTYPE html>
<html>
<head>
    <title>SocketIO Text Display</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect();

        socket.on('display_text', function(data) {
            document.getElementById('displayText').innerText = data;
        });
        socket.emit("text_message")
    </script>
</head>
<body>
    <h1>SocketIO Text Display</h1>
    <p id="displayText">Waiting for text...</p>
</body>
</html>
