{% extends "base.html"%}

{% block konten%}

<style>
    .jumbotron{
        margin-top: 100px;
    }
    .nav-item,.navbar-brand{
        font-size: 20px;
      }
    img{
        height: 120px;
    }
    .lead{
        margin-top: 20px;
    }
    a{
      text-decoration: none;
      color: inherit;
    }
    a:hover{
      font-weight: 400;
    }
</style>

<h4>About</h4>
<div class="jumbotron jumbotron-fluid ">
    <div class="container text-center mt-5">
      <h1 class="display-6">"PEMBUATAN MODEL VOICE RESPOND PADA ALAT UJI PENDENGARAN"</h1>
      <br>
      <img src="/static/img/Capture2.jpg" alt="Profil" class="rounded-circle">
      <p class="lead"><a href="https://www.linkedin.com/in/hakkansyukri/">Hakkan Syukri  &copy; 2023</a><br>D4 Teknologi Rekayasa Perangkat Lunak<br>1911082017 </p>
    </div>
  </div>





{% endblock%}