<!DOCTYPE html>
<html>
<head>
    <title>SocketIO Text Display</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect();

        socket.on('display_text', function(data) {
            document.getElementById('displayText').innerText = data;
        });
        socket.emit("text_message")
    </script>
</head>
<body>
    <h1>SocketIO Text Display</h1>
    <p id="displayText">Waiting for text...</p>
</body>
</html>
